<!DOCTYPE html>
<html lang="es">

<% include common-head %>

<body id="background">
    <div class="container bg-light" id="papel-arrugado">
        <div class="row justify-content-center align-items-center  m-4">
            <div class="form-row mt-4 mb-4">
                <h1 class="text-uppercase">Nos Presentamos</h1>
            </div>
            <br>
            <p>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis excepturi commodi explicabo odit beatae repellendus et in aliquam est. Soluta expedita aperiam perspiciatis animi quisquam. Minima explicabo sed quod omnis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis excepturi commodi explicabo odit beatae repellendus et in aliquam est. Soluta expedita aperiam perspiciatis animi quisquam. Minima explicabo sed quod omnis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis excepturi commodi explicabo odit beatae repellendus et in aliquam est. Soluta expedita aperiam perspiciatis animi quisquam. Minima explicabo sed quod omnis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis excepturi commodi explicabo odit beatae repellendus et in aliquam est. Soluta expedita aperiam perspiciatis animi quisquam. Minima explicabo sed quod omnis.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis excepturi commodi explicabo odit beatae repellendus et in aliquam est. Soluta expedita aperiam perspiciatis animi quisquam. Minima explicabo sed quod omnis.
            </p>
        </div>
    </div>
</body>

</html>