<!DOCTYPE html>
<html lang="es">

<% include common-head %>

<style>
    img {
        margin: 10px;
        margin-left: 150px
    }
</style>

<body id="background">

    <% include common-nav %>

    <div class="container bg-light  pl-4 pr-4" id="papel-arrugado">

        <div class="row justify-content-start align-items-center m-4 p-4">
            <div class="form-row mt-4 mb-4 col-md-12 justify-content-center align-items-center">
                <h1 id="postTittle" class="text-uppercase  mt-4 mb-4">UNIDAD 2: ESTRATEGIA EMPRESARIA</h1>
            </div>
            <br>
            <h2 class="col-md-12 mt-4">
                <u>Estrategias:</u>
            </h2>
            <h4 class="col-md-12 mt-2">
                Estrategia corporativa
            </h4>
            <p class="col-md-12">
                Es la que define el alcance de la compañía en lo que respecta a las industrias en las que compite. Las
                decisiones de estrategia corporativa incluyen inversiones en diversificación, integración vertical,
                adquisiciones o desinversiones.[1]
            </p>

            <h4 class="col-md-12">
                Estrategia competitiva
            </h4>
            <p class="col-md-12">
                se define como el conjunto de acciones ofensivas y defensivas que se ponen en marcha para alcanzar una
                posición ventajosa frente al resto de los competidores que se traduzca en la consecución de una ventaja
                competitiva sostenida a lo largo del tiempo y una mayor rentabilidad[2]
            </p>

            <h4 class="col-md-12">
                Estrategias funcionales o divisionales
            </h4>
            <p class="col-md-12">
                Es aquella que precisa el ¿CÓMO? Hacer, operar, funcionar, es decir, después de delimitar la estrategia
                corporativa que concreta el ¿qué hacer?, la estrategia funcional, viene a indicar el cómo se deben
                aplicar y
                utilizar los recursos para lograr lo que se quiere lograr.[3]
            </p>



            <img src="images/unidad2/1.PNG" alt="">


            <p class="col-md-12">
                Desde nuestro punto de vista; Las estrategias Corporativas y la Competitivas por más que tengan una
                definición diferente, en la realidad las 2 terminan volviendo se sinonimos
            </p>

            <h2 class="col-md-12 mt-4">
                <u>LA MISIÓN</u>
            </h2>
            <p class="col-md-12">
                La misión o el propósito (terminos que a menudo se utilizan indistintamente) identifican la funcion o
                las
                tareas basicas de una empresa o dependencia, o de cualquiera de sus partes. Todo tipo de operación
                organizada tiene -- o debería tener, si es coherente-- una misión o un propósito. [4]
            </p>
            <img src="images/unidad2/2.PNG" alt="">


            <h2 class="col-md-12 mt-4">
                <u>LA VISIÓN</u>
            </h2>
            <p class="col-md-12">
                La Visión de una empresa podríamos denominarlo como el SUEÑO, es una declaración de aspiraciones de la
                empresa a mediano o largo plazo, es la imagen a futuro de cómo deseamos que sea la empresa más adelante.
                Su
                propósito es ser el motor y la guía de la organización para poder alcanzar el estado deseado.[5]
            </p>

            <h2 class="col-md-12 mt-4"><u>LOS VALORES</u></h2>
            <p class="col-md-12">
                Los valores: Por medio de los valores, les dices a los demás cuáles son tus prioridades y cuáles son los
                puntos más importantes de tu empresa [6]
            </p>

            <h2 class="col-md-12 mt-4">
                <u>MODELOS PEST</u>
            </h2>
            <p class="col-md-12">
                La herramienta PEST o PESTEL es un instrumento de gran utilidad para el analisi del entorno, sirviendo
                para
                conocer tendencias futuras y definir con antelación la estrategia empresarial a seguir; así como también
                permite realizar una investigación pormenorizada de los asuntos que más influiran en de desarrollo de su
                actividad o del proyecto qué se quiere implementar.
                Al permitir la previsión de tendencias en el futuro a corto y mediano plazo, las organizaciones tienen
                un
                margen de acción más amplio y mejora su capacidad para adaptarse a los cambios que anticipan.
                Sirve para analizar una serie de factores cuyas iniciales son las que le dan el nombre. Se trata de las
                siguientes Variables
            </p>

            <h4 class="col-md-12">
                Variables políticas
            </h4>
            <p class="col-md-12">

                Son los aspetos gubernamentales qué inciden de forma directa en la empresa.(Políticas impositivas,
                regulaiones sobre el empleo, estabilidad gubernamental).
            </p>

            <h4 class="col-md-12">
                Variables Económicas
            </h4>
            <p class="col-md-12">

                Hay que analizar los datos macroeconomicos, la evolucion del PIB, las tasas de interés, a inflación, la
                tasa
                de desempleo, el nivel de renta.
            </p>

            <h4 class="col-md-12">
                Variables Sociales.
            </h4>
            <p class="col-md-12">

                Los factores a tener en cuenta son la evolución demográfica, la movilidad social y cambios en el estilo
                de
                vida
            </p>

            <h4 class="col-md-12">

                Variables tecnológicas.
            </h4>
            <p class="col-md-12">
                Hay que conocer la inversión pública en investigación y la promoción del desarrollo tecnológico, el
                grado de
                obsolescencia
            </p>

            <!-- <h4 class="col-md-12">

                Otras variables
            </h4> -->

            <h4 class="col-md-12">

                Variables Ecológicas
            </h4>
            <p class="col-md-12">

                Conciencia sobre la conservación del medio ambiente, la legislación medioambiental,
            </p>

            <h4 class="col-md-12">

                Variables Legales
            </h4>
            <p class="col-md-12">

                Información sobre licencias, Legislación Laboral, Propiedad intelectual.[7]
            </p>


            <h2 class="col-md-12 mt-4">

                <u>ANÁLISIS DE ESCENARIOS</u>
            </h2>
            <p class="col-md-12">

                El análisis de escenarios en la valoración de inversiones es una metodología que permite estudiar
                situaciones de riesgo o incertidumbre en la toma de decisiones relacionadas con la inversión y
                atendiendo a
                la probabilidad de aparición de diferentes alternativas.
            </p>

<!--             <h3 class="col-md-12">

                TIPOS DE ESCENARIOS
            </h3> -->

            <h4 class="col-md-12">

                Existen varios tipos de análisis de escenarios:
            </h4>
            <p class="col-md-12">

                <u>Análisis estilizados:</u> Pueden cambiarse varias variables o solo una para ver cómo afecta cada variable a
                un determinado suceso
                <u>Eventos Hipotéticos:</u> Plantear casos hipotéticos y planear qué ocurriría.
                <u>Eventos Actuales Extremos:</u> Casos extremos.
            </p>


            <h2 class="col-md-12 mt-4">

                <u>Las 5 fuerzas de Porter</u>
            </h2>

            <img src="images/unidad2/3.PNG" alt="">

            <p class="col-md-12">

                Lo que hace es un completo análisis de la empresa por medio de un estudio de la industria en ese
                momento,
                con el fin de saber dónde está colocada una empresa con base a otra en ese momento.
            </p>
            <p class="col-md-12">

                Amenaza de la entrada de los nuevos competidores. ES una de las fuerzas más famosas y qué se usa en la
                industria para detectar empresas con las mismas características económicas o con productos similares en
                el
                mercado.
            </p>
            <p class="col-md-12">

                Poder de negociación de los proveedores. Proporciona a los proveedores de la empresa, las herramientas
                necesarias para poder alcanzar un objetivo.
            </p>

            <p class="col-md-12">

                Poder de negociación de los compradores. En este punto se tienen problemas cuando los clientes cuentan
                con
                un producto que tiene varios sustitutos en el mercado o qué puede llegar a tener un costo más alto que
                otros
                productos si tu producto llega a tener un costo más alto que otros similares en el mercado.
            </p>

            <p class="col-md-12">

                Amenaza en los ingresos por productos sustitutos. En este punto, una empresa comienza a tener serios
                problemas cuando los sustitutos de los productos comienzan a ser reales, eficaces y más baratos que el
                que
                vende la empresa inicial.
            </p>

            <p class="col-md-12">

                Rivalidad entre Competidores. En este punto se puede competir directamente con otras empresas de la
                industria qué te dan el mismo producto.[8]
            </p>

            <h2 class="col-md-12 mt-4">

                <u>ENTRAMADO CULTURAL</u>
            </h2>

            <h3 class="col-md-12">

                CADENA DE VALOR
            </h3>
            <p class="col-md-12">

                La cadena de valor una herramienta de análisis estratégico que ayuda a determinar la ventaja competitiva
                de
                la empresa.
                1) Las actividades primarias: un grupo de acciones enfocadas en la elaboración física de cada producto y
                el
                proceso de transferencia al comprador.
                2) Las actividades de apoyo: son un soporte de las primarias y en ellas se incluye la participación de
                los
                recursos humanos[9]
            </p>

            <!-- PERSPECTIVA BASADA EN LOS RECURSOS -->

            <h3 class="col-md-12">

                FODA
            </h3>
            <p class="col-md-12">

                Por tanto, se introdujo la matriz FODA para analizar la situación competitiva de una compañía,o incluso
                una
                nación, que lleve al desarrollo de cuatro series de alternativas estratégicas distintas.
            </p>

            <img src="images/unidad2/4.PNG" alt="">

            <p class="col-md-12">

                Dimensión temporal y la matriz FODA
                Hasta ahora los factores que se muestran en la matriz FODA se refieren al análisis en un momento
                particular;
                sin embargo, los ambientes internos y externos son dinámicos: algunos factores cambian con el tiempo, en
                tanto que otros lo hacen muy poco. Por tanto, los diseñadores de estrategias deben preparar varias
                matrices
                en diferentes momentos[10]
            </p>

            <h3 class="col-md-12">

                ESTRATEGIAS GENÉRICAS
            </h3>
            <p class="col-md-12">

                Porter definió tres tipos de ventajas competitivas a las que puede aspirar una compañía. Estas ventajas
                competitivas pueden conseguirse en el ámbito de toda la industria:
            </p>

            <h4 class="col-md-12">

                1. Liderazgo en costes
            </h4>
            <p class="col-md-12">

                Una empresa logra el liderazgo en costes cuando tiene costes inferiores a los de sus competidores para
                un
                producto o servicio semejante o comparable en calidad. Gracias a la ventaja en costes la empresa
                consigue
                rebajar sus precios hasta anular el margen de su competidor.
            </p>

            <h4 class="col-md-12">

                2. Diferenciación de productos
            </h4>
            <p class="col-md-12">

                Se dice que una empresa tiene una ventaja competitiva en diferenciación de producto cuando ofrece un
                producto o servicio que, siendo comparable con el de otra empresa, tiene ciertos atributos o
                características
                que lo hacen que sea percibido como único por los clientes. Por ello, los clientes están dispuestos a
                pagar
                más para obtener un producto de una empresa que de otra.
            </p>

            <h4 class="col-md-12">

                3. Segmentación de mercado
            </h4>
            <p class="col-md-12">

                La estrategia de segmentación de mercado busca que las compañías conozcan los comportamientos de la
                gente a
                la hora de consumir un producto o servicio y así ofrecerles lo que realmente necesitan. Trata de
                conseguir
                que las empresas se centren en unos cuantos mercados objetivo en lugar de tratar de apuntar a todos.[11]
            </p>

            <img src="images/unidad2/5.PNG" alt="">

            <h2 class="col-md-12 mt-4">

                <u>MATRIZ PRODUCTO MERCADO</u>
            </h2>

            <p class="col-md-12">

                La Matriz de Ansoff relaciona los productos con los mercados, clasificando al binomio producto-mercado
                en
                base al criterio de novedad o actualidad. Como resultado obtenemos 4 cuadrantes con información sobre
                cuál
                es la mejor opción a seguir: estrategia de penetración de mercados, estrategia de desarrollo de nuevos
                productos, estrategia de desarrollo de nuevos mercados o estrategia de diversificación.
            </p>

            <img src="images/unidad2/6.PNG" alt="">

            <p class="col-md-12">

                Estrategia de penetración de mercados: esta primera opción consiste en ver la posibilidad de obtener una
                mayor cuota de mercado trabajando con nuestros productos actuales en los mercados que operamos
                actualmente.

                Estrategia de desarrollo de nuevos mercados: esta opción estratégica de la Matriz de Ansoff, plantea si
                la
                empresa puede desarrollar nuevos mercados con sus productos actuales.

                Estrategia de desarrollo de nuevos productos: en esta opción estratégica, la empresa desarrolla nuevos
                productos para los mercados en los que opera actualmente.

                Estrategia de diversificación: por último en la estrategia de diversificación, es necesario estudiar si
                existen oportunidades para desarrollar nuevos productos para nuevos mercados.
            </p>

            <h4 class="col-md-12">

                Objetivo:
            </h4>
            <p class="col-md-12">

                El principal objetivo de la Matriz de Ansoff, es ayudar en la toma de decisiones sobre la expansión y el
                crecimiento estratégico de una empresa. Los tres primeros cuadrantes de la matriz (penetración de
                mercados,
                desarrollo de nuevos mercados y desarrollo de nuevos productos) corresponden a estrategias de
                crecimiento,
                mientras que el último cuadrante marca una estrategia de diversificación[12]
            </p>

            <h2 class="col-md-12">

                <u>BCG growth-share matrix</u>
            </h2>

            <p class="col-md-12">

                La matriz BCG (o matriz de crecimiento compartido) es una herramienta de planificación corporativa, que
                se
                utiliza para representar la cartera de marcas de la empresa o SBU en un cuadrante a lo largo del eje
                relativo de participación de mercado (eje horizontal) y la velocidad del crecimiento del mercado (eje
                vertical).
            </p>

            <img src="images/unidad2/7.PNG" alt="">

            <p class="col-md-12">

                Clasifica la cartera de negocios en cuatro categorías según el atractivo de la industria (tasa de
                crecimiento de esa industria) y la posición competitiva (participación de mercado relativa). Estas dos
                dimensiones revelan la probable rentabilidad de la cartera de negocios en términos de efectivo necesario
                para respaldar esa unidad y el efectivo generado por esta. El propósito general del análisis es ayudar a
                comprender en qué marcas debe invertir la empresa y cuáles deben ser cedidas.
            </p>


            <p class="col-md-12">
                <u>Perros:</u> Los perros tienen una cuota de mercado baja en comparación con sus competidores y operan en un
                mercado que crece lentamente. En general, no vale la pena invertir porque generan retornos de efectivo
                bajos
                o negativos. Pero esto no es siempre la verdad. Algunos perros pueden ser rentables durante un largo
                período
                de tiempo,
            </p>

            <p class="col-md-12">
                <u>Vacas en efectivo:</u> Las vacas comerciales son las marcas más rentables y deben ser "ordeñadas" para
                proporcionar tanto dinero como sea posible. El dinero ganado por las "vacas" debe invertirse en
                estrellas
                para apoyar su mayor crecimiento. De acuerdo con la matriz de participación en el crecimiento, las
                empresas
                no deben invertir en vacas de efectivo para inducir el crecimiento, sino solo en apoyarlas para que
                puedan
                mantener su participación actual en el mercado.
            </p>

            <p class="col-md-12">
                <u>Estrellas</u> Las estrellas operan en industrias de alto crecimiento y mantienen una alta cuota de mercado.
                Las
                estrellas son tanto generadores de efectivo como usuarios de efectivo. Son las unidades primarias en las
                que
                la empresa debe invertir su dinero, ya que se espera que las estrellas se conviertan en vacas de
                efectivo y
                generen flujos de efectivo positivos. Sin embargo, no todas las estrellas se convierten en flujos de
                efectivo.
            </p>

            <p class="col-md-12">
                <u>Signos de interrogación:</u> Los signos de interrogación son las marcas que requieren una mayor
                consideración.
                Mantienen una baja participación de mercado en mercados de rápido crecimiento que consumen una gran
                cantidad
                de efectivo e incurren en pérdidas. Tiene potencial para ganar cuota de mercado y convertirse en una
                estrella, que luego se convertiría en una vaca de efectivo. Los signos de interrogación no siempre
                tienen
                éxito e incluso después de una gran cantidad de inversiones, luchan para ganar cuota de mercado y
                eventualmente convertirse en perros.[13]
            </p>

            <h2 class="col-md-12 mt-4">

                <u>LIENZO DE MODELO DE NEGOCIO</u>
            </h2>

            <h4 class="col-md-12">

                SEGMENTOS DE CLIENTES
            </h4>

            <p class="col-md-12">

                Nuestros clientes son la base de nuestro modelo de negocio, así que deberíamos conocerlos
                perfectamente.:
                ¿Cuales son nuestros segmentos de clientes más importantes? ¿Nos dirigimos hacia el gran público, el
                mercado
                de masas o a un nicho muy concreto? ¿Hay varios segmentos de clientes interrelacionados?
            </p>

            <h4 class="col-md-12">

                PROPUESTA DE VALOR
            </h4>

            <p class="col-md-12">

                La propuesta de valor habla del problema que solucionamos para el cliente (si somos avezados, del
                trabajo –
                job to be done- que resuelves para tu cliente)… y cómo le damos respuesta con los productos o servicios
                de
                nuestra empresa.
                También habla de nuestra estrategia competitiva… ¿precio? ¿personalización? ¿ahorro? ¿diseño?
            </p>

            <h4 class="col-md-12">

                CANAL
            </h4>
            <p class="col-md-12">

                En éste bloque se trata uno de los aspectos clave de cualquier modelo de negocio: ¿cómo vamos a entregar
                nuestra propuesta de valor a cada segmento de clientes?. El canal es clave, y en base a las decisiones
                que
                tomemos en éste punto conformamos una experiencia de cliente u otra….
            </p>

            <h4 class="col-md-12">

                RELACIÓN
            </h4>
            <p class="col-md-12">

                Uno de los aspectos más críticos en el éxito de un modelo de negocio, y a la par uno de los más
                complejos de
                tangibilizar: ¿qué relación mantendremos con nuestros clientes? ¿que va a inspirar nuestra marca en
                ellos?
                Hablamos además de percepciones, por lo que el diseño de servicios (service design es una metodología
                básica)
            </p>

            <h4 class="col-md-12">

                FLUJOS DE INGRESOS
            </h4>
            <p class="col-md-12">

                Este punto podría resultar a priori bastante obvio, pero sin embargo solemos ser muy conservadores a la
                hora
                de diseñar la estrategia de ingresos, donde solemos optar casi siempre por la venta directa… hace tiempo
                mencionamos algunos ejemplos de modelos de negocios innovadores, donde veíamos que había muchas formas
                de
                plantear los ingresos: venta, suscripción, freemium…etc
            </p>

            <h4 class="col-md-12">

                RECURSOS CLAVE
            </h4>

            <p class="col-md-12">

                Para llevar nuestra propuesta al mercado (cuya estrategia describimos en el lado derecho del modelo de
                negocio) debemos realizar una serie de actividades (lado izquierdo). Una de las más claras el el hecho
                de
                consumir diversos recursos. En éste apartado se describen los principales recursos necesarios, así como
                tipo, cantidad e intensidad
            </p>

            <h4 class="col-md-12">

                ACTIVIDADES CLAVE
            </h4>

            <p class="col-md-12">

                De forma similar a lo comentado en el punto anterior, para entregar la propuesta de valor debemos llevar
                una
                serie de actividades clave internas (típicamente abarcan los procesos de producción, marketing…etc).
                Éstas
                son las actividades que nos permiten entregar a nuestro cliente la propuesta de valor via una serie de
                canales y con un tipo concreto de relaciones.
            </p>

            <h4 class="col-md-12">

                ALIANZAS
            </h4>
            <p class="col-md-12">

                En éste apartado se definen las alianzas necesarias para ejecutar nuestro modelo de negocio con
                garantías,
                que complementen nuestras capacidades y potencien nuestra propuesta de valor, optimizando de esa forma
                los
                recursos consumidos y reduciendo la incertidumbre.
            </p>

            <h4 class="col-md-12">

                ESTRUCTURA DE COSTES
            </h4>

            <p class="col-md-12">

                En éste caso se trata de modelar la estructura de costes de la empresa, habitualmente apalancada en las
                actividades y recursos descritos en los puntos anteriores. Se trata de conocer y optimizar costes fijos,
                variables para intentar diseñar un modelo de negocio escalable… sin duda una de las áreas donde más se
                puede
                innovar.[14]
            </p>


            <img src="images/unidad2/8.PNG" alt="">


            <h2 class="col-md-12 mt-4">

                <u>LAS 7-S</u>
            </h2>
            <p class="col-md-12">

                El modelo está compuesto por 7 esferas interconectadas entre sí, cuyo elemento central son los valores
                compartidos. Cada una de las esferas refleja un elemento básico en cualquier organización y su
                integración a
                la gestión de marketing, comunicación y estrategia comercial.
            </p>

            <img src="images/unidad2/9.PNG" alt="">

            <h4 class="col-md-12">

                STRATEGY (estrategia):
            </h4>
            <p class="col-md-12">

                La contribución y manera de organizar y enfocar los recursos del negocio a la estrategia y complimiento
                de
                objetivos de la organización.
            </p>

            <h4 class="col-md-12">

                STRUCTURE (estructura):
            </h4>
            <p class="col-md-12">

                La manera en que se organizan, se relacionan e interactúan las distintas unidades de negocio para
                soportar
                acciones de innovación y gestión de marketing.
            </p>

            <h4 class="col-md-12">

                STYLE (estilo):
            </h4>
            <p class="col-md-12">

                El estilo se refiere a la cultura de la organización. Normalmente es la cúpula gerencial quien establece
                un
                modelo de comportamiento, y da ejemplo a las capas inferiores de la empresa y debe mostrar la relevancia
                de
                la analítica, inteligencia y beneficios de marketing.
            </p>

            <h4 class="col-md-12">

                STAFF (personal):
            </h4>
            <p class="col-md-12">

                Personal con perfiles y competencias de marketing, análisis financiero básico, habilidades comerciales,
                capacidad de aprendizaje, comunicación y conocimiento de tecnología y marketing digital. Desde cargos
                operativos, funcionales, directivos y alta gerencia con conocimientos y entendimiento del marketing, el
                enfoque en el cliente y su aporte a la estrategia y cumplimiento de objetivos.
            </p>

            <h4 class="col-md-12">

                SKILLS (habilidades):
            </h4>
            <p class="col-md-12">

                Se refiere a las habilidades y capacidades requeridas por los miembros de la organización para la
                gestión de
                marketing.
            </p>

            <h4 class="col-md-12">

                SYSTEMS (sistemas):
            </h4>
            <p class="col-md-12">

                Incluye los procesos internos que definen los parámetros de funcionamiento de la empresa y de los
                sistemas
                de información integrados al negocio.
            </p>

            <h4 class="col-md-12">

                SHARED VALUES (valores compartidos):
            </h4>
            <p class="col-md-12">

                Los valores compartidos son el corazón de la empresa. Lo que une a sus miembros y alinea a todos ellos
                en la
                misma dirección. Es la razón de ser, motivación y enfoque que transforma a las personas individuales en
                un
                equipo y debe integrar el conocimiento del aporte que su gestión produce para la marca y su influencia
                en la
                gestión diaria como equipo empresarial.[15]
            </p>

            <h2 class="col-md-12 mt-4">

                <u>CUADRO DE MANDO INTEGRAL</u>
            </h2>
            <h3 class="col-md-12">

                Definición
            </h3>
            <p class="col-md-12">

                El Cuadro de Mando Integral (o Balanced ScoreCard) es una herramienta o metodología de gestión que
                permite
                convertir la estrategia de la organización en objetivos operativos para potenciar la consecución de
                resultados.
            </p>


            <img src="images/unidad2/10.PNG" alt="">

            <p class="col-md-12">

                El CMI permite tener el control del estado de salud corporativa y la forma como se están encaminando las
                acciones para alcanzar la visión, y por sus características, el CMI puede implementarse tanto a nivel
                corporativo como en áreas o departamentos con visión y estrategias de negocios definidas y que mantengan
                cierta autonomía funcional. Esos CMI de departamento deben revertir en el CMI global o en el de su
                departamento superior.[16]
            </p>

            <p class="col-md-12">

                Los objetivos operativos y sus indicadores se alinean en 4 perspectivas:
            </p>

            <img src="images/unidad2/11.PNG" alt="">

            <h2 class="col-md-12 mt-4">

                <u>Los 8 pasos del Modelo de Kotter</u>
            </h2>

            <h4 class="col-md-12">

                Paso 1: Cree sentido de urgencia
            </h4>
            <p class="col-md-12">

                Para que ocurra el cambio, es ayuda que toda la empresa realmente lo desee. Desarrolle un sentido de
                urgencia alrededor de la necesidad de cambio. Esto puede ayudarlo a despertar la motivación inicial para
                lograr un movimiento.
            </p>

            <h4 class="col-md-12">

                Paso 2: Forme una poderosa coalición
            </h4>
            <p class="col-md-12">

                Convenza a la gente de que el cambio es necesario. Esto a menudo implica un fuerte liderazgo y soporte
                visible por parte de gente clave dentro de la organización. Gestionar el cambio no es suficiente.
                También
                tiene que liderarlo.
            </p>

            <h4 class="col-md-12">

                Paso 3: Crear una Visión para el cambio
            </h4>
            <p class="col-md-12">

                Al empezar a pensar en un cambio, probablemente habrá muchas grandes ideas y soluciones dando vueltas.
                Vincule esos conceptos con a una visión general que la gente pueda entender y recordar fácilmente.
            </p>

            <h4 class="col-md-12">

                Paso 4: Comunique la Visión
            </h4>
            <p class="col-md-12">

                Lo que haga con la Visión después de crearla determinará su éxito. Su mensaje posiblemente encuentre
                fuertes
                competencias en las comunicaciones diarias dentro de la empresa, por lo que debe comunicarla
                frecuentemente
                y con fuerza, e incluirla dentro de todo lo que haga.
            </p>

            <h4 class="col-md-12">

                Paso 5: Elimine los obstáculos
            </h4>
            <p class="col-md-12">

                Si sigue estos pasos y llega a este punto en el proceso de cambio, es porque ha hablado de la Visión y
                ha
                construido la suscripción a ella desde todos los niveles de la organización. Con suerte, su gente querrá
                ocuparse del cambio y conseguir los beneficios que ha estado promoviendo.
            </p>

            <h4 class="col-md-12">

                Paso 6: Asegúrese triunfos a corto plazo
            </h4>
            <p class="col-md-12">

                Nada motiva más que el éxito. Dele a su empresa el sabor de la victoria en una fase temprana del proceso
                de
                cambio. Dentro de un breve período de tiempo (que podría ser un mes o un año, dependiendo del cambio),
                usted
                va tener que lograr resultados palpables por su gente. De otra manera, la gente crítica y negativa
                podría
                lastimar el proceso.
            </p>

            <h4 class="col-md-12">

                Paso 7: Construya sobre el cambio
            </h4>
            <p class="col-md-12">

                Kotter sostiene que muchos proyectos de cambio fallan porque se declara la victoria muy tempranamente.
                El
                cambio real sucede muy profundamente. Las victorias tempranas son sólo el comienzo de lo que se necesita
                hacer para lograr los cambios a largo plazo.
            </p>

            <h4 class="col-md-12">

                Paso 8: Ancle el cambio en la cultura de la empresa
            </h4>
            <p class="col-md-12">

                Por último, para lograr que cualquier cambio pegue, éste debe formar parte del núcleo de la
                organización. La
                cultura corporativa a menudo determina qué hacer, por lo que los valores detrás de su Visión deben
                mostrarse
                en el día a día.[17]
            </p>

            <img src="images/unidad2/12.PNG" alt="">

            <h2 class="col-md-12">
                <u>BIBLIOGRAFÍA</u>
            </h2>

            <p class="col-md-12">
                [1]
                https://www.academiadeinversion.com/estrategia-empresarial-estrategia-corporativa-definiciones-diferencia-ejemplos/
            </p>
            <p class="col-md-12">
                [2]
                https://www.deustoformacion.com/blog/gestion-empresas/estrategias-competitivas-porter-estrategia-liderazgo-costes
            </p>
            <p class="col-md-12">
                [3]
                https://www.webyempresas.com/estrategia-funcional/
            </p>
            <p class="col-md-12">

                [4] 109 koontz
            </p>
            <p class="col-md-12">
                [5]
                https://www.marketingandweb.es/emprendedores-2/mision-vision-y-valores-de-una-empresa/
            </p>
            <p class="col-md-12">
                [6]
                https://www.5fuerzasdeporter.com/
            </p>
            <p class="col-md-12">
                [7]
                https://www.cerem.es/blog/estudia-tu-entorno-con-un-pest-el
            </p>
            <p class="col-md-12">
                [8]
                https://www.5fuerzasdeporter.com/
            </p>
            <p class="col-md-12">
                [9]
                https://economipedia.com/definiciones/cadena-de-valor.html
            </p>
            <p class="col-md-12">
                [10] 138 139 koontz
            </p>
            <p class="col-md-12">
                [11] https://economipedia.com/definiciones/estrategias-genericas-porter.html
            </p>
            <p class="col-md-12">
                [12] https://robertoespinosa.es/2015/05/31/matriz-de-ansoff-estrategias-crecimiento/
            </p>
            <p class="col-md-12">
                [13] https://www.strategicmanagementinsight.com/tools/bcg-matrix-growth-share.html
            </p>
            <p class="col-md-12">
                [14]
                https://javiermegias.com/blog/2011/11/herramientas-el-lienzo-de-modelos-de-negocio-business-model-canvas/
            </p>
            <p class="col-md-12">
                [15]
                http://blog.formaciongerencial.com/modelo-las-7-s-la-estructura-organizacional-integrada-la-gestion-marketing/
            </p>
            <p class="col-md-12">
                [16]
                http://prevenblog.com/como-implementar-un-cuadro-de-mando-integral/
            </p>
            <p class="col-md-12">
                [17]
                https://www.estrategiamagazine.com/administracion/modelo-de-kotter-de-gestion-del-cambio-en-8-pasos/
            </p>


            <!-- Fin -->
        </div>



        <div style="height: 30px"></div>
        <div class="d-flex justify-content-start m-4">
            <a href="/" class="text-dark">← Volver al Inicio</a>
        </div>


        <% include common-socialNetworks %>

        <div class="m-4">
            <hr>
            <h2 class="mt-2 mb-2">COMENTARIOS</h2>

            <% comments.forEach(comment => { %>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4>
                                <%= comment.nombre %>
                            </h4>
                        </div>
                        <div>
                            <p>
                                <%= comment.fecha.toLocaleDateString() + ' - ' + comment.fecha.toLocaleTimeString() %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        <%= comment.comentario %>
                    </p>
                </div>
            </div>
            <br>
            <% }) %>
            <br>
            <button class="btn btn-outline-dark mb-4" onclick="addComment(3)">Agregar Comentario</button>
        </div>
        <% include common-addComment %>

        <% include common-foot %>

        <% include common-scripts %>
    </div>


</body>

</html>