<!DOCTYPE html>
<html lang="es">

<% include common-head %>

<style>
    img {
        margin: 10px;
        margin-left: 150px
    }
</style>

<body id="background">
    <div class="container bg-light" id="papel-arrugado">

        <div class="row justify-content-start align-items-center m-4 pt-4 pb-4">
            <div class="form-row  col-md-12 mt-4 mb-4">
                <h1 id="postTittle" class="text-uppercase">UNIDAD 3: ECONOMIÍA DE LA EMPRESA</h1>
            </div>
            <br>
            <h2 class="col-md-12">Ingresos, Gastos y Amortizaciones: Definiciones</h2>

            <h3 class="col-md-12">Ingresos</h3>
            <p class="col-md-12">
                Un ingreso es un incremento de los recursos económicos. Éste debe entenderse en el contexto de activos y
                pasivos, puesto que es la recuperación de un activo. [1]
            </p>
            <h3 class="col-md-12">Gastos</h3>
            <p class="col-md-12">
                Un gasto es un egreso o en términos coloquiales una salida de dinero que una empresa o persona paga por
                la compra de un producto, un bien o un servicio.
                [2]
            </p>

            <h3 class="col-md-12">Amortizaciones</h3>
            <p class="col-md-12">
                Las amortizaciones son la pérdida del valor de los activos o pasivos con el paso del tiempo.
                Con las amortizaciones, los costes de hacer una inversión se dividen entre todos los años de uso de esa
                inversión.
                Por ejemplo: compramos una máquina al precio de 10.000€. Esta máquina se puede utilizar durante cinco
                años. Por ello, se divide el precio de la máquina entre los años y obtenemos que la máquina pierde cada
                año un valor 2.000€, es decir se amortiza. [3]
            </p>

            <h2 class="col-md-12">
                Cuadro de Perdidas y Ganancias de una Empresa
            </h2>
            <p class="col-md-12">
                La cuenta de pérdidas y ganancias es un balance en el que se muestra el resumen de todos los ingresos y
                gastos producidos durante el ejercicio económico y el resultado final del mismo, que será beneficio o
                pérdida.
            </p>

            <p class="col-md-12">Refleja que ingresos ha tenido la empresa, que gastos ha realizado y el importe del
                resultado que se obtiene al restar los gastos de los ingresos. [4]</p>

            <img src="images/unidad3/1.PNG" alt="">

            <h2 class="col-md-12">Gestión de la Tesorería</h2>
            <p class="col-md-12">
                La mayoría de las operaciones económicas de la empresa se traducen en la entrada o en
                la salida de recursos dinerarios, es decir, en cobros o en pagos. Una buena gestión de la tesorería debe
                permitir efectuar todos los pagos en tiempo y minimizar los fondos no rentabilizados. [5]
                <br>
                Su importancia radica en que permite tomar decisiones más acertadas respecto a:
                <br>
                1) Realizar una gestión adecuada de los posibiles riesgos de tipo de cambio y de interes
                <br>
                2) Racionalizar los costes financieros de la empresa
                <br>
                3) Disponer del dinero necesario para desarrollar las actividades del negocio
                <br>
                4) Rentabilizar los excedentes dinerarios que se obtienen durante periodos normalmente cortos
            </p>


            <h2 class="col-md-12">Flujo de Caja</h2>
            <p class="col-md-12">El flujo de caja hace referencia a las salidas y entradas netas de dinero que tiene una
                empresa o proyecto en un período determinado.</p>
            <p class="col-md-12">Los flujos de caja facilitan información acerca de la capacidad de la empresa para
                pagar sus deudas. Por ello, resulta una información indispensable para conocer el estado de la empresa.
                Es una buena herramienta para medir el nivel de liquidez de una empresa.
            </p>
            <h3 class="col-md-12">Tipos de flujos de caja
            </h3>
            <p class="col-md-12">Flujos de caja de operaciones (FCO): dinero ingresado o gastado por actividades
                directamente relacionadas con la de la empresa.
            </p>
            <p class="col-md-12">Flujos de caja de inversión (FCI): dinero ingresado o gastado resultado de haber
                dedicado un dinero a un producto que nos beneficiará en el futuro, por ejemplo, maquinaria.</p>
            <p class="col-md-12">Flujo de caja financiero (FCF): dinero ingresado o gastado como resultado de
                operaciones directamente relacionadas con el dinero, como compra de una parte de una empresa, pago de
                préstamos, intereses.[6]</p>

            <img src="images/unidad3/2.PNG" alt="">

            <h2 class="col-md-12">Balance General</h2>
            <p class="col-md-12">El balance general es un estado financiero conformado por un documento que muestra
                detalladamente los activos, los pasivos y el patrimonio con que cuenta una empresa en un momento
                determinado.
                <br>
                Los activos incluyen el dinero que se encuentra físicamente en la empresa (por ejemplo, en su caja
                fuerte), o el dinero que
                tiene depositado en el banco (por ejemplo, en su cuenta corriente).
                <br>
                Los pasivos incluyen las deudas que tiene la empresa con sus proveedores.
                <br>
                Mientras que el patrimonio incluye las aportaciones hechas por los socios o accionistas.
                <br>
                En cuanto a su elaboración el balance general se realiza cada año al finalizar el ejercicio económico de
                la empresa (balance final)[7]
            </p>

            <img src="images/unidad3/3.PNG" alt="">

            <p class="col-md-12">
                Clasificación: ordenamiento de las cuentas del balance General [8]
            </p>
            <h3 class="col-md-12">Activo</h3>
            <p class="col-md-12">
                ACTIVO CORRIENTE:Comprende el efectivo y sus equivalentes a libre disposición de la empresa,
                <br>
                ACTIVO FIJO: Bienes que no han sido adquiridos para ser procesados y/o vendidos,
                <br>
                OTROS ACTIVOS: Partidas del activo no propiamente clasificables en ninguno de los dos grupos anteriores,
                ni como cargos diferidos.
                <br>
                ACTIVO DIFERIDO: Gastos efectuados cuyos beneficios se extienden a futuros períodos
            </p>
            <h3 class="col-md-12">Pasivo</h3>
            <p class="col-md-12">
                PASIVO CORRIENTE: Integran dentro de este grupo las deudas vencidas, así como las que vencerán dentro
                del ciclo normal de operaciones del negocio,
                <br>
                PASIVO A LARGO PLAZO: Son obligaciones con vencimiento a partir de un año de la fecha del balance
                general.
            </p>

            <h2 class="col-md-12">ANÁLISIS PATRIMONIAL Y FINANCIERO</h2>
            <p class="col-md-12">
                El análisis patrimonial es la parte del análisis que se ocupa de estudiar las relaciones
                que existen entre los diferentes elementos del balance de situación. Su nombre es
                debido a que dicho estado financiero refleja la situación patrimonial de la empresa.
                <br>
                Básicamente son tres tipos de relaciones patrimoniales las que se estudian:
                <br>
                Equilibrio económico: que representaría la relación existente entre los
                elementos del activo o estructura económica de la empresa.
                <br>
                Equilibrio financiero: en este caso se trataría de las relaciones entre los
                elementos del pasivo y patrimonio neto o estructura financiera de la empresa.
                <br>
                Equilibrio económico-financiero: consiste en la relación que hay entre la
                estructura económica o productiva y la financiera.
            </p>

            <h3 class="col-md-12">Endeudamiento</h3>
            <p class="col-md-12">
                Al analizar el nivel de endeudamiento se comprueba por un lado el nivel de deuda, y por el otro, la
                calidad de esta. La deuda es de mayor calidad cuando es a largo plazo. A través de este análisis podemos
                saber si la empresa tiene un adecuado nivel de deuda, la calidad de la misma y la capacidad que tiene de
                asumir más deuda.
            </p>
            <img src="images/unidad3/5.PNG" alt="">

            <h3 class="col-md-12">Solvencia a Corto Plazo</h3>
            <p class="col-md-12">
                Mide la disponibilidad monetaria de una empresa para hacer frente a sus obligaciones de pago en el corto
                plazo.
            </p>
            <img src="images/unidad3/6.PNG" alt="">

            <h3 class="col-md-12">Gestión de Cobros y Pagos</h3>
            <p class="col-md-12">
                La política de la empresa en relación a la gestión de pagos y cobros es muy importante. Cobrar antes de
                los clientes implica disponer de unos fondos que permitirán hacer frente a las deudas a corto plazo y
                pagar más tarde a los proveedores implica disponer de una financiación.
                <br>
                Los principales ratios que se pueden utilizar para llevar a cabo un análisis de la gestión de cobros y
                pagos son:
                <br>
                <br>
                Plazo de cobro: Este ratio nos proporciona información sobre el plazo medio de cobro de los clientes
                <br>
                <img src="images/unidad3/7.PNG" alt="">
                <br>
                Plazo de pago: Este ratio nos proporciona información sobre el plazo medio de pago a los proveedores
                <br>
                <img src="images/unidad3/8.PNG" alt="">
                <br>
                Financiación de clientes por proveedores: Es importante comprobar qué parte del saldo de clientes está
                financiado con el saldo de proveedores
                <br>
                <img src="images/unidad3/9.PNG" alt="">
            </p>


            <h2 class="col-md-12">Ciclo de Maduración</h2>
            <p class="col-md-12">
                El ciclo de maduración es el tiempo que pasa desde que haces acopio de materiales hasta
                que se realiza el cobro a los clientes.
                <br>
                <img src="images/unidad3/10.PNG" alt="">
                <br>
                El ciclo de maduración empieza con la recepción de las materias primas con las que se van a fabricar los
                productos (Recepción de materiales).
                <br>
                Estas materias primas hay que acumularlas en un almacén (Stock de materias primas).
                <br>
                Después se empieza a realizar la producción de los artículos (Inicio de producción).
                <br>
                Si esta producción se realiza en varias fases, que es lo más común, hay que almacenar los productos en
                curso (Stock de productos en curso).
                <br>
                Terminan los procesos de producción (Fin de producción) y tenemos los productos listos para la venta que
                hay que guardar en un almacén, que puede ser el mismo almacén o no que el de las materias primas y de
                productos en curso (Stock de productos acabados).
                <br>
                Todos estos pasos componen el Ciclo de producción, otro ciclo más
                <br>
                <br>
                Una vez que ya se tienen los productos acabados empiezan los procesos de venta a clientes.
                Hasta aquí, todos estos pasos son económicos porque no hay movimientos de dinero.
                Y después de vender, si se tiene aplazado el cobro, supongamos que a 30 días, se recibe el cobro de los
                clientes (Cobro de clientes).
            </p>


            <h2 class="col-md-12">Ciclo de Caja</h2>
            <p class="col-md-12">
                En el ciclo de caja lo que se hace es incluir los hechos financieros al ciclo de
                maduración y ver cómo se mueve nuestra tesorería durante el ciclo.
                <br>
                <img src="images/unidad3/11.PNG" alt="">
                <br>
                En la parte superior de la imagen se incluyen los hechos financieros.
                <br>
                Todo empieza con la compra de las materias primas a los proveedores. Posiblemente den aplazamiento de
                pago, supongamos que a 30 días, por lo que el ciclo de caja (financiero) tiene un desfase con el ciclo
                de maduración (económico) y empieza más tarde.
                Así que, en este caso, el ciclo de caja tiene duración menor que el ciclo de maduración.
                Después del pago a los proveedores están los pagos de mano de obra y los costes de fabricación. Los
                pagos de gastos de ventas y finalmente llegamos al cobro del cliente.
                <br>
                <br>
                Cuanto antes se cobre a los clientes menos gastos financieros hay que soportar. Sobre todo de los gastos
                de mano de obra y los costes de almacenamiento ya que tener el producto parado cuesta dinero.
            </p>
            
            <h2 class="col-md-12">Gestión de Activos</h2>
            
            <p class="col-md-12">
                Analizar la gestión de los activos permite conocer si la utilización de éstos por parte de la empresa es
                eficiente. Para realizar este análisis se utilizan los ratios de rotación.
                <br>
                <br>
                Rotacion de activo corriente: Informa de las ventas de acuerdo con la invercion en activo no corriente.
                Lo optimo es que el valor sea elevado y que vaya aumentando con el paso del tiempo
                <br>
                <img src="images/unidad3/12.PNG" alt="">
                <br>
                Rotacion de activo no corriente: Informa el rendimiento que se esta obteniendo del activo corriente. Lo
                optimo es que el valor sea elevado y que vaya aumentando con el paso del tiempo
                <br>
                <img src="images/unidad3/13.PNG" alt="">
                <br>
                Rotacion de existencias: Informa el rendimiento que se esta obteniendo de la inversion en existencias.
                Lo optimo es que el valor sea elevado y que vaya aumentando con el paso del tiempo
                <br>
                <img src="images/unidad3/14.PNG" alt="">
                <br>
            </p>


            <h2 class="col-md-12">PUNTO DE EQUILIBRIO DE UNA EMPRESA</h2>
            <img src="images/unidad3/4.PNG" alt="">
            <p class="col-md-12">La determinación del punto de equilibrio es uno de los elementos centrales en cualquier
                tipo de negocio pues nos permite determinar el nivel de ventas necesario para cubrir los costes totales
                o, en otras palabras, el nivel de ingresos que cubre los costes fijos y los costes variables. Este punto
                de equilibrio (o de apalancamiento cero), es una herramienta estratégica clave a la hora de determinar
                la solvencia de un negocio y su nivel de rentabilidad.
            </p>
            <h3 class="col-md-12">Beneficios</h3>
            <p class="col-md-12">
                Determinar el nivel minimo de ventas.
                <br>
                Comprobar la viabilidad del negocio.
                <br>
                Conocer el nivel de beneficios.
            </p>



            <p class="col-md-12"></p>
            <p class="col-md-12"></p>




            <h2 class="col-md-12">
                BIBLIOGRAFÍA
            </h2>

            <p class="col-md-12">
                [1]
                https://debitoor.es/glosario/que-es-un-ingreso
            </p>
            <p class="col-md-12">
                [2]
                https://www.siigo.com/blog/contador/que-son-los-gastos-en-contabilidad/
            </p>
            <p class="col-md-12">
                [3]
                https://debitoor.es/glosario/definicion-amortizacion
            </p>
            <p class="col-md-12">

                [4] https://www.contabilidae.com/perdidas-ganancias/
            </p>
            <p class="col-md-12">
                [5]
                https://www.edufinet.com/edufiemp-cabecera/fases-actividad-empresarial/gestion-de-tesoreria
            </p>
            <p class="col-md-12">
                [6]
                https://economipedia.com/definiciones/flujo-de-caja.html
            </p>
            <p class="col-md-12">
                [7]
                https://www.crecenegocios.com/el-balance-general/
            </p>
            <p class="col-md-12">
                [8]
                http://admonyeconomia.blogspot.com/2012/12/clasificacion-y-ordenamiento-de-las.html
            </p>
            <p class="col-md-12">
                [9]
                https://www.elblogsalmon.com/conceptos-de-economia/el-punto-de-equilibrio-y-su-importancia-estrategica
            </p>
            <p class="col-md-12">
                [10]
                http://aseduco.com/blog1/2017/03/21/analisis-patrimonial-y-financiero-casos-practicos/
            </p>
            <p class="col-md-12">
                [11]
                http://www.cartagena99.com/recursos/alumnos/apuntes/TEMA-2.pdf
            </p>
            <p class="col-md-12">
                [12]
                https://www.linkedin.com/pulse/ciclo-de-maduraci%C3%B3n-y-caja-luis-lorenzo/
            </p>



            <!-- Fin -->
        </div>



        <div style="height: 30px"></div>
        <div class="d-flex justify-content-start m-4">
            <a href="/" class="text-dark">← Volver al Inicio</a>
        </div>


        <% include common-socialNetworks %>

        <div class="m-4">
            <hr>
            <h2 class="mt-2 mb-2">COMENTARIOS</h2>

            <% comments.forEach(comment => { %>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4>
                                <%= comment.nombre %>
                            </h4>
                        </div>
                        <div>
                            <p>
                                <%= comment.fecha.toLocaleDateString() + ' - ' + comment.fecha.toLocaleTimeString() %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        <%= comment.comentario %>
                    </p>
                </div>
            </div>
            <br>
            <% }) %>
            <br>
            <button class="btn btn-outline-dark mb-4" onclick="addComment(4)">Agregar Comentario</button>
        </div>
    </div>

    <% include common-addComment %>


    <% include common-scripts %>

</body>

</html>