<!DOCTYPE html>
<html lang="es">

<% include common-head %>

<body id="background">

    <% include common-nav %>


    <div class="container bg-light  pl-4 pr-4" id="papel-arrugado">

        <div class="row justify-content-start align-items-center m-4 p-4">
            <div class="form-row mt-4 mb-4 col-md-12 justify-content-center align-items-center">
                <h1 id="postTittle" class="text-uppercase  mt-4 mb-4">UNIDAD 4: CONDUCCIÓN DE LA EMPRESA</h1>
            </div>
            <br>
            <h2 class="col-md-12"><u>Concepto:</u></h2>
            <p class="col-md-12 mt-2">
                El liderazgo es la influencia, arte o proceso de influir sobre las personas para que se esfuercen en
                forma voluntaria y con entusiasmo para el logro de las metas del grupo.[1]
            </p>

            <h2 class="col-md-12 mt-4"><u>Importancia del Liderazgo como parte esencial del “management” de las
                    organizaciones modernas</u></h2>
            <p class="col-md-12 mt-2">
                La importancia radica en que el liderazgo permite[1]:
                <br>
                <li class="col-md-12">Captar las tendencias económicas y políticas del entorno, su impacto en la
                    dirección y en la estrategia
                    de la organización y hacer comprender a los miembros.</li>
                <li class="col-md-12">Comunicar una visión clara y trazar estrategias, planes, objetivos para alcanzar
                    las metas.</li>
                <li class="col-md-12">Articular una dirección, una guía precisa, el líder debe planificar, organizar,
                    dar información,
                    evaluar, arbitrar, controlar, recompensar, vigilar, motivar al grupo a determinadas actividades.
                </li>
                <li class="col-md-12">Fomentar una cultura y un clima organizacional que es responsable de las
                    relaciones interpersonales, la
                    comunicación con los demás para ganar su cooperación, colaboración y apoyo.</li>
                <li class="col-md-12">Dan y reciben feedback.</li>
                <li class="col-md-12">El líder es innovador y es gestor del cambio en una organización, sabe identificar
                    lo que el grupo
                    quiere y por qué lo quiere.</li>
                <li class="col-md-12">Entrenar a la gente como un equipo.</li>
                <li class="col-md-12">Diseñar y rediseñar procesos, implementar el aprendizaje organizacional.</li>
                <li class="col-md-12">Aceptar responsabilidad personal y dar ejemplo.</li>
            </p>

            <h2 class="col-md-12 mt-4"><u>Teoría del Liderazgo Situacional</u></h2>
            <p class="col-md-12 mt-2">
                Este modelo teórico destaca la relevancia de las variables situacionales que operan en el proceso del
                liderazgo; sus autores son conscientes de que ningún estilo de liderazgo es óptimo en cualquier
                situación, sino que si los subordinados son diferentes deben ser tratados de un modo distinto.
                <br><br>
                La efectividad del liderazgo depende de la interacción entre el líder, los subordinados y otras
                variables situacionales. El modelo define la existencia de cuatro posibles estilos de dirección que
                indican el nivel de control que un directivo ejerce sobre los subordinados, y que se denominan:
                <br>
                <br>
                <u>Ordenar (E1):</u> Se caracteriza por dar instrucciones específicas y supervisar de cerca el
                desarrollo del
                trabajo.
                <br>
                <br>
                <u>Persuadir (E2):</u> Se caracteriza por explicar a los subordinados las decisiones ya tomadas por el
                superior,
                a la vez que explica las ventajas y/o la facilidad de cumplir con lo que se les pide.
                <br>
                <br>
                <u>Participar (E3):</u> Caracterizado por que el mando comparte sus ideas con sus subordinados y por
                facilitar
                el diálogo para llegar a una decisión acordada en conjunto y a una planificación también conjunta.
                <br>
                <br>
                <u>Delegar (E4):</u> Se caracteriza por dejar al subordinado —visto como colaborador— las decisiones
                sobre cómo
                actuar para lograr los objetivos de la institución en general y de su puesto de trabajo en particular.
                Estos estilos implican una integración de dos dimensiones de conducta del líder, que son la conducta de
                tarea y la conducta de relación (similares a las definidas por las investigaciones de la Universidad de
                Ohio). [2]
            </p>


            <img src="images/unidad4/1.PNG" alt="">

            <h2 class="col-md-12 mt-4"><u>Motivación</u></h2>
            <h3 class="col-md-12 mt-2">Concepto</h3>
            <p class="col-md-12 mt-2">
                La motivación es un instrumento de la dirección, motivar es crear una relación entre una persona y una
                situación con el fin de producir un comportamiento adecuado. Por medio de la motivación la dirección
                busca que cada miembro de la organización no solo logre las metas previstas, sino que también ejecute su
                trabajo responsablemente y con la máxima satisfacción. La motivación convierte las necesidades en
                acción.
                <br>
                <br>
                La dirección a través de la motivación creará el ambiente organizacional adecuado en el que sea posible
                que todas las personas logren sus objetivos personales. De este modo, se orientarán todos los esfuerzos
                a los fines y a los objetivos de la organización. Los objetivos personales se nutren de impulsos, deseos
                y necesidades, de ahí la importancia que tiene para la dirección de conocer qué es lo que motiva a sus
                subordinados. Esto da la posibilidad de introducir los factores motivacionales en el desempeño de las
                diferentes funciones, de este modo se guía a las personas a las metas deseadas.
            </p>


            <h3 class="col-md-12 mt-4">Teoría X & Teoría Y</h3>

            <img src="images/unidad4/2.PNG" alt="">

            <h3 class="col-md-12 mt-4">Teoría de la Pirámide o Jerarquía de las Necesidades</h3>
            <p class="col-md-12 mt-2">
                Esta teoría desarrollada por Abraham Maslow, explica la conducta humana admitiendo que las personas son
                motivadas a satisfacer ciertas necesidades, ubicadas en un orden jerárquico.
                <br>
                <br>
                El esquema afirma que las necesidades aún no satisfechas pueden ser causa de conducta; en caso contrario
                una necesidad satisfecha deja de ser motivante.
                <br>
                <br>
                Esta teoría sostiene que las necesidades humanas se ordenan en una jerarquía de relativa importancia que
                determina la conducta humana. Las personas son motivadas a satisfacer las necesidades que son más
                importantes para ellas, antes que aquellas que satisfacen un alto nivel de necesidad.
                <br>
                <br>
                Las <b>necesidades fisiológicas</b> se refieren a la necesidad de alimentación, resguardo físico y todas
                las
                vinculadas a las exigencias físicas.
                <br>
                <br>
                Las <b>necesidades de seguridad</b> son la protección contra daños psiquicos y fisicos.
                <br>
                <br>
                Las <b>necesidades sociales</b> están vinculadas a la aceptación, amistad, pertenencia y a otras propias
                de la
                vida social.
                <br>
                <br>
                Las <b>necesidades de estima</b> de los demás y de la propia estima es el reconocimiento de otros y
                todas las
                evaluaciones qué percibe el individuo desde fuentes externas.
                <br>
                <br>
                Las <b>necesidades de autorrealización</b> se pueden sintetizar en cómo un individuo puede desarrollar
                su
                potencial al máximo.
                <br>
            </p>
            <img src="images/unidad4/3.PNG" alt="">

            <h3 class="col-md-12 mt-4">Teoría de Factores Higiénicos y factores Motivacionales</h3>
            <p class="col-md-12 mt-2">
                Esta Teoría desarrollada por Frederick Herzberg quien se interroga sobre cuáles son las necesidades del
                personal que conducen a las satisfacciones en el trabajo. Hay 2 clases distintas de factores: Los que
                conducen a la insatisfacción o factores higiénicos y los que conducen a la satisfacción o
                motivadores.[3]
            </p>
            <img src="images/unidad4/4.PNG" alt="">




            <h2 class="col-md-12 mt-4">
                <u>MAPA CONCEPTUAL</u>
            </h2>

            <a href="images/mapa4.png" class="col-md-12" target="_blank"><img width="100%" class="mapa"
                    src="images/mapa4.png" alt=""></a>
            <p class="col-md-12 mt-1">* Click en la imágen para ver en pantalla completa</p>


            <h2 class="col-md-12 mt-4">
                <u>
                    BIBLIOGRAFÍA
                </u>
            </h2>

            <p class="col-md-12">
                [1] Agüero, P.; Ferreiro, N. (2006). <i>Liderazgo Empresarial</i>.
            </p>
            <p class="col-md-12">
                [2] Sánchez, E. (2000). <i>Teoría del Liderazgo situacional en la Administración local: validez del
                    modelo</i>. Psicothema 12(3). 434-439.
            </p>
            <p class="col-md-12">
                [3] Guzmán, M. (2015). <i>Motivación Laboral</i>.
            </p>

            <!-- Fin -->
        </div>



        <div style="height: 30px"></div>
        <div class="d-flex justify-content-start m-4">
            <a href="/" class="text-dark">← Volver al Inicio</a>
        </div>


        <% include common-socialNetworks %>

        <div class="m-4">
            <hr>
            <h2 class="mt-2 mb-2">COMENTARIOS</h2>

            <% comments.forEach(comment => { %>
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between">
                        <div>
                            <h4>
                                <%= comment.nombre %>
                            </h4>
                        </div>
                        <div>
                            <p>
                                <%= comment.fecha.toLocaleDateString() + ' - ' + comment.fecha.toLocaleTimeString() %>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p>
                        <%= comment.comentario %>
                    </p>
                </div>
            </div>
            <br>
            <% }) %>
            <br>
            <button class="btn btn-outline-dark mb-4" onclick="addComment(5)">Agregar Comentario</button>
        </div>

        <% include common-addComment %>

        <% include common-foot %>

        <% include common-scripts %>
    </div>

</body>

</html>