<nav class="navbar sticky-top navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="/">
        <h2 class="ml-4">
            Bitácora de Administración Gerencial
        </h2>
    </a>
    <a class="navbar-brand" href="/">
        <h2 class="mr-4">
            UTN-FRRe
        </h2>
    </a>
</nav>