#background {
    background-image: url(../images/Background.jpg);
}

#papel-arrugado {
    background-image: url(../images/papel-arrugado.jpg);
    min-height: 900px
}

@font-face {
    font-family: "maquinaDeEscribirCuerpo";
    src: url(../fonts/TravelingTypewriter.ttf);
}


@font-face {
    font-family: "maquinaDeEscribirTitulo";
    src: url(../fonts/KingthingsTrypewriter2.ttf);
 }
 
 p, a {
    font-family: "maquinaDeEscribirCuerpo";
 }

 h1, h2, h3, h4, h5, label {
     font-family: "maquinaDeEscribirTitulo" !important
 }

 .btn {
    font-family: "maquinaDeEscribirCuerpo" !important
 }